:root {
	--main-setting-color:#004085;

  }
.headLeft-section{
	border-right:1px solid #E6E6E6;
	background-color:#E8E8E8;
	height: 100%;
}

.search{
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	text-align: center;
	margin-left: 20px;
}

#search-button{
	display: inline-block;
	height: 30px;
	width: 30px;
	border: 2px solid #009EF7;
	color:#009EF7;
	border-radius: 3px;
}

#search-button:hover{
	color: white;
	border-color: white;
	background-color:  #009EF7;
}

#search-input{
 	height: 30px;
	width: 200px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
menu{
	background-color: salmon;
}
.headLeft-sub{
	padding: 15px;
	text-align: center;
	float: right;
}
.headLeft-sub input{
	height: 60px;
	border-radius: 0px;
	border:1px solid #E6E6E6;
	flex:1;
}


.headLeft-sub button{
	width:50px;
	background: #009EF7;
	color: #fff;
	border:1px solid #E6E6E6;
	padding: 7px 15px;
	border-radius: 8px;
}

.headLeft-info{
	display: flex;
	flex-direction: row;
	padding: 15px;
}

.bar-btn button{
	background: #5F9EA0;
	color: #fff;
	border:1px solid #E6E6E6;
	padding: 7px 15px;
}

.fa-bars{
	color:#000000;
}

#settings-button{
height: 35px;
width: 35px;
border: 2px solid var(--main-setting-color);
 /* #009EF7; */
color:var(--main-setting-color);
/* #009EF7; */
border-radius: 3px;
text-align: center;

display: flex;
justify-content: center;
align-content: center;
align-items: center;
justify-items: center;
}
#settings-button:hover{
	color: white;
	border-color: white;
	background-color: var(--main-setting-color);
	 /* #009EF7; */
}

.fa-ellipsis-v{
	font-size: 25px;
}