.msg-head{
	display: flex;
}
.msg-head .user-name{
	flex:1;
	font-size: 20px;
	margin-top: 15px;
	font-weight: bold;
}

.msg-head .user-info{
	display: flex;
	flex-direction: column;
	padding-left: 20px;
}

.msg-head .is-online{
	/* padding: 5px; */
}
.user-img{
	width: 80px;
	display: flex;
	align-items: center;
	padding-left: 20px;
}
.user-img img{
	text-align: center;
	width: 55px;
	border-radius: 50%;
}




.message{
	height: calc(100% - 68px);
	/* font-family: sans-serif; */
  overflow-y: auto;
}
.message ul{
	padding: 0px;
	list-style: none;
	margin: 0px auto;
	width: 90%;
	overflow:hidden;
}
.message ul li{
	position: relative;
	width: 80%;
	padding: 15px 0px;
	clear: both;
}
.message ul li.msg-left{
	float: left;
}
.message ul li.msg-left img{
	position: absolute;
	width: 40px;
	bottom: 30px;
  border-radius: 50%;
}
.message ul li.msg-left .msg-desc{
	margin-left: 70px;
	font-size: 15px;
	background: #E8E8E8;
	padding:5px 10px;
	border-radius: 5px 5px 5px 0px;
	position: relative;
}
.message ul li.msg-left .msg-desc:before{
	position: absolute;
	content: '';
	border:10px solid transparent;
	border-bottom-color: #E8E8E8;
	bottom: 0px;
	left: -10px;
}
.message ul li.msg-left small{
	float: right;
	color: #c1c1c1;
}

.message ul li.msg-right{
	float: right;
}
.message ul li.msg-right img{
	position: absolute;
	width: 40px;
	right: 0px;
	bottom: 30px;
  border-radius: 50%;

}
.message ul li.msg-right .msg-desc{
	margin-right: 70px;
	font-size: 15px;
	background: #cce5ff;
	color: #004085;
	padding:5px 10px;
	border-radius: 5px 5px 5px 0px;
	position: relative;
}
.message ul li.msg-right .msg-desc:before{
	position: absolute;
	content: '';
	border:10px solid transparent;
	border-bottom-color: #cce5ff;
	bottom: 0px;
	right: -10px;
}
.message ul li.msg-right small{
	float: right;
	color: #c1c1c1;
	margin-right: 70px;
}
.message ul li.msg-day{
	border-top:1px solid #EBEBEB;
	width: 100%;
	padding: 0px;
	margin: 15px 0px;
}
.message ul li.msg-day small{
	position: absolute;
	top: -10px;
	background: #F6F6F6;
	color: #c1c1c1;
	padding: 3px 10px;
	left: 50%;
	transform: translateX(-50%);
}

#pick-room-msg{
	margin-top: 100px;
	text-align: center;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}