.setting-menu{
	width: 200px;
	float: left;
	border-right:1px solid #E6E6E6;
	background-color: #ADD8E6;
  position: fixed;
  z-index: 200;
  border-radius: 8px;
  color:#009EF7;
}

.setting-menu button{
	background-color: #D3D3D3;
  padding: 15px 32px;
  width: 200px;
  text-align: left;
  border-radius: 3px;
  border: 1px solid #009EF7;
  background-color: white;
}
.setting-menu button:hover{
  color: white;
	background-color:  #009EF7;
}
#upload:hover{
  background-color: black;
}
.upload-btn :hover{
  color: white;
	background-color:  #009EF7;
}
.upload-btn input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.spacer {
  height: 5px;
  border-bottom: 1px solid #ccc;
}
